// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2020, Konrad Dybcio
 */

/dts-v1/;

#include "sdm630.dtsi"
#include "pm660.dtsi"
#include "pm660l.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/input/gpio-keys.h>

/ {
	/* required for bootloader to select correct board */
	qcom,msm-id = <318 0>;
	qcom,board-id = <8 1>;
	qcom,pmic-id = <0x1001b 0x101011a 0x00 0x00 0x1001b 0x201011a 0x00 0x00>;

	/* This part enables graphical output via bootloader-enabled display */
	chosen {
		bootargs = "earlycon=tty0 console=tty0 clk_ignore_unused";

		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "framebuffer0";

		framebuffer0: framebuffer@9d400000 {
			compatible = "simple-framebuffer";
			reg = <0 0x9d400000 0 (1920 * 1080 * 4)>;
			width = <1080>;
			height = <1920>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";

			power-domains = <&mmcc MDSS_GDSC>;
			clocks = <&mmcc MDSS_AHB_CLK>,
				 <&mmcc MNOC_AHB_CLK>,
				 <&mmcc MDSS_VSYNC_CLK>,
				 <&mmcc MDSS_AXI_CLK>,
				 <&mmcc MDSS_BYTE0_INTF_CLK>,
				 <&mmcc MDSS_MDP_CLK>,
				 <&mmcc MDSS_BYTE0_CLK>,
				 <&mmcc MDSS_PCLK0_CLK>,
				 <&mmcc MDSS_ESC0_CLK>,
				 <&xo_board>;
		};
	};

	board_vbat: vbat-regulator {
		compatible = "regulator-fixed";
		regulator-name = "VBAT";

		regulator-min-microvolt = <3800000>;
		regulator-max-mixrovolt = <4250000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vph_pwr: vph-pwr-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vph_pwr";

		vin-supply = <&board_vbat>;
		regulator-always-on;
		regulator-boot-on;
	};

	gpio_keys: gpio_keys {
		status = "okay";
		compatible = "gpio-keys";
		input-name = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		camera_focus {
			label = "Camera Focus";
			gpios = <&tlmm 64 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_CAMERA_FOCUS>;
			debounce-interval = <15>;
		};

		camera_snapshot {
			label = "Camera Snapshot";
			gpios = <&tlmm 113 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_CAMERA>;
			debounce-interval = <15>;
		};

		vol_down {
			label = "Volume Down";
			gpios = <&pm660l_gpios 7 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_VOLUMEDOWN>;
			gpio-key,wakeup;
			debounce-interval = <15>;
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ramoops@ffc00000 {
			compatible = "ramoops";
			reg = <0x0 0xffc00000 0x0 0x100000>;
			record-size = <0x10000>;
			console-size = <0x60000>;
			ftrace-size = <0x10000>;
			pmsg-size = <0x20000>;
			ecc-size = <16>;
			status = "okay";
		};

		debug_region@ffb00000 {
			reg = <0x00 0xffb00000 0x00 0x100000>;
			no-map;
		};

		removed_region@85800000 {
			reg = <0x00 0x85800000 0x00 0x3700000>;
			no-map;
		};
	};

	/* This is not exactly pretty, but required for TS to work.. */

	i2c1_touch: i2c {
		compatible = "i2c-gpio";
		status = "okay";

		sda-gpios = <&tlmm 2 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&tlmm 3 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;

		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <400000>;

		pinctrl-names = "default";
		pinctrl-0 = <&i2c1_default>;

		touchscreen: synaptics-rmi4-i2c@70 {
			compatible = "syna,rmi4-i2c";
			reg = <0x70>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupts-extended = <&tlmm 45 0x2008>;

			pinctrl-names = "default";
			pinctrl-0 = <&ts_int_active &ts_lcd_id_active>;

			syna,reset-delay-ms = <200>;
			syna,startup-delay-ms = <220>;

			rmi4-f01@1 {
				reg = <0x01>;
				syna,nosleep-mode = <1>;
			};

			rmi4-f11@11 {
				reg = <0x11>;
				syna,sensor-type = <1>;
			};
		};
	};

	/* 
	 * Until we hook up type-c detection, we
	 * have to stick with this. But it works.
	 */
	extcon_usb: extcon-usb {
		compatible = "linux,extcon-usb-gpio";
		id-gpio = <&tlmm 58 GPIO_ACTIVE_HIGH>;
	};
};

&adsp_pil {
	firmware-name = "adsp.mdt";
};

&blsp_i2c1 {
	status = "okay";

	/* Synaptics touchscreen - see above */
};

&blsp_i2c2 {
	status = "okay";

	/* SMB1351 charger */
};

/* I2C3, 4, 5, 7 and 8 are disabled on this board. */

&blsp_i2c6 {
	status = "okay";

	/* NXP NFC */
};

&blsp1_uart2 {
	status = "okay";
};

&blsp2_uart1 {
	status = "okay";
};

&dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	panel: panel@0 {
		reg = <0>;

		reset-gpios = <&tlmm 53 GPIO_ACTIVE_HIGH>;
		disp-te-gpios = <&tlmm 59 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&panel_reset_gpio &panel_te_gpio>;
		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};
};

&dsi0_out {
	remote-endpoint = <&panel_in>;
	data-lanes = <0 1 2 3>;
};

&mdss {
	status = "okay";
};

&pon {
	volup {
		compatible = "qcom,pm8941-resin";
		interrupts = <0x0 0x8 1 IRQ_TYPE_EDGE_BOTH>;
		debounce = <15625>;
		bias-pull-up;
		linux,code = <KEY_VOLUMEUP>;
	};
};

&q6asmdai {
	dai@0 {
		reg = <0>;
	};

	dai@1 {
		reg = <1>;
	};
};

&qusb2phy {
	status = "okay";
};

&remoteproc_mss {
	firmware-name = "mba.mbn", "modem.mdt";
};

&sdhc_1 {
	status = "okay";

	mmc-ddr-1_8v;
	/* SoMC Nile platform's eMMC doesn't support HS200 mode */
	mmc-hs400-1_8v;
};

&sdhc_2 {
	status = "okay";
};

&wifi {
	status = "okay";
	/*
	vdd-0.8-cx-mx-supply = <&pm660_l5>;
	vdd-1.8-xo-supply = <&pm660_l9_pin_ctrl>;
	vdd-1.3-rfa-supply = <&pm660_l6_pin_ctrl>;
	vdd-3.3-ch0-supply = <&pm660_l19_pin_ctrl>;
	*/
};

&rpm_requests {
	pm660l-regulators {
		compatible = "qcom,rpm-pm660l-regulators";

		vdd_s1-supply = <&vph_pwr>;
		vdd_s2-supply = <&vph_pwr>;
		vdd_s3_s4-supply = <&vph_pwr>;
		vdd_s5-supply = <&vph_pwr>;
		vdd_s6-supply = <&vph_pwr>;

		vdd_l1_l9_l10-supply = <&vreg_s2b_1p05>;
		vdd_l2-supply = <&vreg_bob>;
		vdd_l3_l5_l7_l8-supply = <&vreg_bob>;
		vdd_l4_l6-supply = <&vreg_bob>;
		vdd_bob-supply = <&vph_pwr>;

		vreg_s1b_1p125: s1b {
			regulator-min-microvolt = <350000>;
			regulator-max-microvolt = <1355000>;
		};
		vreg_s2b_1p05: s2b {
			regulator-min-microvolt = <350000>;
			regulator-max-microvolt = <1355000>;
		};
		vreg_s3b_s4b_0p87: s3b {
			regulator-min-microvolt = <350000>;
			regulator-max-microvolt = <1355000>;
		};
		vreg_s5b_0p915: s5b {
			regulator-min-microvolt = <350000>;
			regulator-max-microvolt = <1355000>;
		};

		vreg_l1b_0p925: l1b {
			regulator-min-microvolt = <800000>;
			regulator-max-microvolt = <925000>;
		};
		vreg_l2b_2p95: l2b {
			regulator-min-microvolt = <350000>;
			regulator-max-microvolt = <3100000>;
		};
		vreg_l3b_3p0: l3b {
			regulator-min-microvolt = <1710000>;
			regulator-max-microvolt = <3600000>;
		};
		vreg_l4b_29p5: l4b {
			regulator-min-microvolt = <1700000>;
			regulator-max-microvolt = <2950000>;
		};
		vreg_l5b_29p5: l5b {
			regulator-min-microvolt = <1721000>;
			regulator-max-microvolt = <3600000>;
		};
		vreg_l6b_3p3: l6b {
			regulator-min-microvolt = <1700000>;
			regulator-max-microvolt = <3300000>;
		};
		vreg_l7b_3p125: l7b {
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <3125000>;
		};
		vreg_l8b_3p3: l8b {
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <3400000>;
		};
		vreg_l9b_0p87: l9b {
			regulator-min-microvolt = <1808000>;
			regulator-max-microvolt = <2960000>;
		};
		vreg_l10b_0p915: l10b {
			regulator-min-microvolt = <1808000>;
			regulator-max-microvolt = <2960000>;
		};
		vreg_bob: bob {
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3600000>;
		};
	};

	pm660-regulators {
		compatible = "qcom,rpm-pm660-regulators";

		vdd_s1-supply = <&vph_pwr>;
		vdd_s2-supply = <&vph_pwr>;
		vdd_s3-supply = <&vph_pwr>;
		vdd_s4-supply = <&vph_pwr>; 
		vdd_s5-supply = <&vph_pwr>;
		vdd_s6-supply = <&vph_pwr>;

		vdd_l1_l6_l7-supply = <&vreg_s5a_1p35>;
		vdd_l2_l3-supply = <&vreg_s2b_1p05>;
		vdd_l5-supply = <&vreg_s2b_1p05>;
		vdd_l8_l9_l10_l11_l12_l13_l14-supply = <&vreg_s4a_2p04>;
		vdd_l15_l16_l17_l18_l19-supply = <&vreg_bob>;

		vreg_s1a_ftapc0: s1a {
			regulator-min-microvolt = <568000>;
			regulator-max-microvolt = <1172000>;
		};
		vreg_s2a_ftapc1: s2a {
			regulator-min-microvolt = <568000>;
			regulator-max-microvolt = <1172000>;
		};
		vreg_s3a_hfapc1: s3a {
			regulator-min-microvolt = <568000>;
			regulator-max-microvolt = <1172000>;
		};
		vreg_s4a_2p04: s4a {
			regulator-min-microvolt = <1805000>;
			regulator-max-microvolt = <2040000>;
		};
		vreg_s5a_1p35: s5a {
			regulator-min-microvolt = <1224000>;
			regulator-max-microvolt = <1350000>;
		};
		vreg_s6a_0p87: s6a {
			regulator-min-microvolt = <504000>;
			regulator-max-microvolt = <1028000>;
		};

		vreg_l1a_1p225: l1a {
			regulator-min-microvolt = <1150000>;
			regulator-max-microvolt = <1250000>;
		};
		vreg_l2a_1p0: l2a {
			regulator-min-microvolt = <950000>;
			regulator-max-microvolt = <1010000>;
		};
		vreg_l3a_1p0: l3a {
			regulator-min-microvolt = <950000>;
			regulator-max-microvolt = <1010000>;
		};
		vreg_l5a_0p848: l5a {
			regulator-min-microvolt = <525000>;
			regulator-max-microvolt = <950000>;
		};
		vreg_l6a_1p3: l6a {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1370000>;
		};
		vreg_l7a_1p2: l7a {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};
		vreg_l8a_1p8: l8a {
			regulator-min-microvolt = <1750000>;
			regulator-max-microvolt = <1900000>;
		};
		vreg_l9a_1p8: l9a {
			regulator-min-microvolt = <1750000>;
			regulator-max-microvolt = <1900000>;
		};
		vreg_l10a_1p8: l10a {
			regulator-min-microvolt = <1780000>;
			regulator-max-microvolt = <1950000>;
		};
		vreg_l11a_1p8: l11a {
			regulator-min-microvolt = <1780000>;
			regulator-max-microvolt = <1950000>;
		};
		vreg_l12a_1p8: l12a {
			regulator-min-microvolt = <1780000>;
			regulator-max-microvolt = <1950000>;
		};
		vreg_l13a_1p8: l13a {
			regulator-min-microvolt = <1780000>;
			regulator-max-microvolt = <1950000>;
		};
		vreg_l14a_1p8: l14a {
			regulator-min-microvolt = <1710000>;
			regulator-max-microvolt = <1900000>;
		};
		vreg_l15a_1p8: l15a {
			regulator-min-microvolt = <1650000>;
			regulator-max-microvolt = <2950000>;
		};
		vreg_l16a_2p7: l16a {
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <2700000>;
		};
		vreg_l17a_1p8: l17a {
			regulator-min-microvolt = <1650000>;
			regulator-max-microvolt = <2950000>;
		};
		vreg_l18a_2p85: l18a {
			regulator-min-microvolt = <2805000>;
			regulator-max-microvolt = <2805000>;
		};
		vreg_l19a_3p3: l19a {
			regulator-min-microvolt = <3200000>;
			regulator-max-microvolt = <3400000>;
		};
	};
};

&tlmm {
	gpio-reserved-ranges = <8 4>;

	ts_int_active: ts-int-active {
		pins = "gpio45";
		drive-strength = <8>;
		bias-pull-up;
	};

	ts_lcd_id_active: ts-lcd-id-active {
		pins = "gpio56";
		drive-strength = <8>;
		bias-disable;
	};

	panel_reset_gpio: panel-reset-gpio {
		pins = "gpio53";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	mdss_dsi_suspend: mdss-dsi-suspend {
		pins = "gpio53";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};

	panel_te_gpio: panel-te-gpio {
		pins = "gpio59";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};
};

&usb3 {
	status = "okay";
};

&usb3_dwc3 {
	dr_mode = "peripheral";
	extcon = <&extcon_usb>;
};
